@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

.loader {
  width: 60px;
  aspect-ratio: 4;
  background: radial-gradient(circle closest-side, #000 90%, #0000) 0/calc(100%/3) 100% space;
  clip-path: inset(0 100% 0 0);
  animation: loader-animation 1s steps(4) infinite;
  min-height: 16px;
}

@keyframes loader-animation {
  to {
    clip-path: inset(0 -34% 0 0)
  }
}

.chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.message-list {
  width: 80%;
  height: auto;
  max-height: 80vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.message-input {
  position: absolute;
  bottom: 2px;
  left: 10%;
  width: 80%;
}

.input-container {
  display: flex;
}

.input-container input[type="text"] {
  flex: 1;
  margin-right: 10px;
}

.input-container input[type="submit"] {
  padding: 10px 20px;
}


.headline {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.message-send {
  border-radius: 5%;
  border-width: 0px;
  background-color: #6e19c3;
  color: white;
}

.message-send:disabled {
  background-color: gray;
}

@media screen and (max-width: 800px) {
  input {
    font-size: 16px !important;
  }
}
